body, .navbar {
  background-color: mediumseagreen;
}

.self-photo {
  border-radius: 50%;
  width: 600px;
}

.proj-self {
  border-radius: 50%;
  width: 200px;
}

$theme-colors: (
  "green": mediumseagreen
);